# Secrets / env
.env
.env.*
*.pem
*.key

# Node
node_modules/
.pnpm-store/
.npm/
.yarn/

# Flutter/Dart
.dart_tool/
.build/
build/
.android/
.ios/
.lh/

# Logs
*.log

# OS
.DS_Store

# Python caches
__pycache__/
*.pyc

# Kotlin/Gradle caches
**/.kotlin/
*.salive
